body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 592px;
  margin: auto;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 72px 0 0 0;
}

p {
  font-size: 14px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 32px 0 0 0;
}

footer {
  display: flex;
  flex-direction: row;
  gap: 28px;
  margin-bottom: 33px;
}

#line {
  margin: 72px 0 8px 0;
  width: 568px;
  height: 0px;

  border: 1px solid #eceff2;
}

strong {
  font-weight: 700;
}

.gray {
  color: #7d7987;
}

.orange {
  color: #ff9900;
}

img#hero {
  width: 348px;
}

img#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
